<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE DETAILS</title>
</head>
<style>
    body {
  background-image: url('https://img.freepik.com/free-vector/social-media-icons_53876-89124.jpg?t=st=1650605201~exp=1650605801~hmac=e43b0ebca739fc9d4b9c2bdaf4e3e84b175c144f80af613de4d31d148234b4cc&w=1060');
}
h3{
            color: Black;
            font-family: Arial;
            font-size: 10;
        }
p{
            color: Black;
            font-family: Arial;
            font-size: 10;
}
</style>
<div align="center">
<body style="background-color:Lavender;">
<h3>EDIT DOB PAGE</h3>
<form action="/Editdob" method="POST">
    <p>Change Your DOB </p><input type="text" name="ndob">
<input type="submit" value="Submit">
    </form>
</body>
</div>
</html>